<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">日志管理</h3>

				<div class="box-tools">
					<div class="input-group input-group-sm" style="width: 350px;">
						<input type="text" name="table_search" id="searchNameId"
							class="form-control pull-right" placeholder="用户名">

						<div class="input-group-btn">
							<button type="button" class="btn btn-default btn-search">
                                <i class="fa fa-search"></i>
							</button>
							<button type="button" class="btn btn-default btn-delete">删除</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body table-responsive no-padding">
				<table class="table table-hover">
					<thead>
						<tr>
						    <th><input type="checkbox" id="checkAll">全选</th>
							<th>用户名</th>
							<th>操作</th>
							<th>请求方法</th>
							<th>请求参数</th>
							<th>IP</th>
							<th>执行时长</th>
						</tr>
					</thead>
					<tbody id="tbodyId">
					    <tr>
					       <td colspan="7">数据正在加载中...</td>
					    </tr>
					</tbody>
				</table>
			</div>
			<div id="pageId" class="box-footer clearfix">
			      
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
</div>
<script type="text/javascript">
     //补充JS
   $(function(){
    	$("#pageId").load("doPageUI",doGetObjects);
    	$(".input-group-btn")
    	.on("click",".btn-search",doQueryObjects)
    	.on("click",".btn-delete",doDeleteObjects)
    	$("#checkAll").change(doChangeTBodyCheckBoxState)
    	$("#tbodyId").on("change",".cBox",doChangeTHeadCheckBoxState)
    });
     
    function doChangeTHeadCheckBoxState(){
    	var flag=true;
    	$("#tbodyId input[type='checkbox']")
    	.each(function(){
    		flag=flag&$(this).prop("checked");
    	});
    	$("#checkAll").prop("checked",flag);
    }
    function doChangeTBodyCheckBoxState(){
    	var flag=$(this).prop("checked");
    	$("#tbodyId input[type='checkbox']")
    	.each(function(){
    		$(this).prop("checked",flag);
    	})
    }
    function doGetCheckedIds(){
    	var array=[];
    	$("#tbodyId input[type='checkbox']")
    	.each(function(){
    		var checked=$(this).prop("checked");
    		if(checked){
    			array.push($(this).val());
    		}
    	});
    	return array;
    }
     function doDeleteObjects(){
       var idArray=doGetCheckedIds();
       if(idArray.length==0){
    	   alert("请先选中");
    	   return;
       }
       if(!confirm("确定删除吗"))return;
        var params={"ids":idArray.toString()};
        var url="log/doDeleteObjects";
       $.post(url,params,function(result){
    	   if(result.state==1){
    		   alert(result.message);
    		   doDeleteRefreshPage();
    	   }else{
    		   alert(result.message);
    	   }
       })
    }
    function doDeleteRefreshPage(){
    	var pageCurrent=$("#pageId").data("pageCurrent");
    	var pageCount=$("#pageId").data("pageCount");
    	var state=$("#checkAll").prop("checked");
    	if(state&&pageCurrent==pageCount&&pageCurrent>1){
    		pageCurrent--;
    		$("#pageId").data("pageCurrent",pageCurrent);
    	}
    	doGetObjects();
    }
    function doQueryObjects(){
    	$("#pageId").data("pageCurrent",1);
    	doGetObjects();
    }
     function doGetObjects(){
    	$("#checkAll").prop("checked",false);
    	var pageCurrent=$("#pageId").data("pageCurrent");
    	if(!pageCurrent)pageCurrent=1;
    	var params={"pageCurrent":pageCurrent}
    	var uname=$("#searchNameId").val();
    	if(uname)params.username=uname;
    	var url="log/doFindPageObjects";
    	$.getJSON(url,params,function(result){
    		
    		doHandleResponseResult(result);
    	});
    }
   
    function doHandleResponseResult(result){
    	console.log(result);
    	if(result.state==1){
    		
    		doSetTableBodyRows(result.data.records);
    		
    		doSetPagination(result.data);
    	}else{
    		alert(result.message);
    	}
    }
   
    function doSetTableBodyRows(records){
    	
    	var tBody=$("#tbodyId");
    	tBody.empty();
    	
    	for(var i=0;i<records.length;i++){
    	  
    	  var tr=$("<tr></tr>");
    	  
    	  var tds=doCreateTds(records[i]);
    	
    	  tr.append(tds);
    	  
    	  tBody.append(tr);
    	}
    }
    
    function doCreateTds(data){
 	   var tds="<td><input type='checkbox' class='cBox' name='cItem' value='"+data.id+"'></td>"+
 		   	 "<td>"+data.username+"</td>"+
 		     "<td>"+data.operation+"</td>"+
 		     "<td>"+data.method+"</td>"+
 		     "<td>"+data.params+"</td>"+
 		     "<td>"+data.ip+"</td>"+
 		     "<td>"+data.time+"</td>";	   
       return tds;
    }
</script>






